polars
pathlib
pandas
pyarrow
openmeteo_requests
requests_cache
retry_requests
numpy
lightgbm
scikit-learn
matplotlib
shap
PyYAML
mlflow
fastapi
uvicorn
httpx
python-dotenv
psycopg2-binary
SQLAlchemy
tenacity
respx
tenacity